
.exchange-box{
  height: 150px;
  width: 150px;
  perspective: 1000px;
  position:relative;
  z-index: 3;
  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transform: translate3d(0px,0px,0px);
}

.rotate1{
  -webkit-animation: rotate-box1 8s linear infinite;
  -moz-animation: rotate-box1 8s linear infinite;
}

.cube{
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) rotateX(20deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg) rotateX(20deg);
}

.wall{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('../images/woodcrate.jpg');
  border: 1px solid black;
  -webkit-transition: transform, .3s, translateZ;
  -moz-transition: transform, .3s, translateZ;
}

.side-1{
	z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotateY(0deg) translateZ(76px);
  -moz-transform: rotateY(0deg) translateZ(76px);
}

.side-2{
  -webkit-transform: rotateX(90deg) translateZ(76px);
  -moz-transform: rotateX(90deg) translateZ(76px);
}

.side-3{
  -webkit-transform: rotateY(90deg) translateZ(76px);
  -moz-transform: rotateY(90deg) translateZ(76px);
}

.side-4{
  -webkit-transform: rotateX(-90deg) translateZ(76px);
  -webkit-transition: transform 500ms;
  -moz-transform: rotateX(-90deg) translateZ(76px);
  -moz-transition: transform 500ms;

}

.side-5{
  -webkit-transform: rotateY(-90deg) translateZ(76px);
  -moz-transform: rotateY(-90deg) translateZ(76px);
}

.side-6{
  -webkit-transform: rotateY(180deg) translateZ(76px);
  -moz-transform: rotateY(180deg) translateZ(76px);
}


@-webkit-keyframes cross-page{
 0%{ -webkit-transform: translate3d(0px,0px,0px);}
 80%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 81%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 82%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 83%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 84%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 85%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 86%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 87%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 88%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 89%{-webkit-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
	90%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	91%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	92%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	93%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	94%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	95%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	96%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	97%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	98%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	99%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	100%{
		-webkit-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
}

@-moz-keyframes cross-page{
 0%{ -moz-transform: translate3d(0px,0px,0px);}
 80%{-moz-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 81%{-moz-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 82%{-moz-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 83%{-moz-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 84%{-moz-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 85%{-moz-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 86%{-moz-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 87%{-moz-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
 88%{-moz-transform: translate3d(565px,-260px,0px);
	 top: 5px;}
 89%{-moz-transform: translate3d(565px,-260px,0px);
	 top: -5px;}
	90%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	91%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	92%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	93%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	94%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	95%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	96%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	97%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	98%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
	99%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: -5px;
	}
	100%{
		-moz-transform: translate3d(565px,-260px,0px);
		top: 5px;
	}
}

.move-to-europe{
  -webkit-animation: cross-page 2s linear forwards;
  -moz-animation: cross-page 2s linear forwards;
}

.drop{
	-webkit-animation: dropping 1s linear forwards;
  -moz-animation: dropping 1s linear forwards;
}

@-webkit-keyframes dropping{
  0% {
    -webkit-transform: translateY(-30px) scalex(1);
    animation-timing-function: cubic-bezier(.66,.0,1,.72);
  }
  45% {
    -webkit-transform: translateY(375px) scalex(1);
  }
  50% {
    -webkit-transform: translateY(385px) scalex(1);
  }
  70% {
    -webkit-transform: translateY(315px) scalex(1);
  }
  80% {
    -webkit-transform: translateY(375px) scalex(1);
  }
  85% {
    -webkit-transform: translateY(385px) scalex(1);
  }
  93% {
    -webkit-transform: translateY(355px) scalex(1);
  }
  100% {
    -webkit-transform: translateY(385px) scalex(1);
  }
}

@-moz-keyframes dropping{
  0% {
    -moz-transform: translateY(-30px) scalex(1);
    animation-timing-function: cubic-bezier(.66,.0,1,.72);
  }
  45% {
    -moz-transform: translateY(375px) scalex(1);
  }
  50% {
    -moz-transform: translateY(385px) scalex(1);
  }
  70% {
    -moz-transform: translateY(315px) scalex(1);
  }
  80% {
    -moz-transform: translateY(375px) scalex(1);
  }
  85% {
    -moz-transform: translateY(385px) scalex(1);
  }
  93% {
    -moz-transform: translateY(355px) scalex(1);
  }
  100% {
    -moz-transform: translateY(385px) scalex(1);
  }
}

.backToUSA{
	-webkit-animation: reset 1s linear forwards;
  -moz-animation: reset 1s linear forwards;
}

@-webkit-keyframes reset{
	0%{
		-webkit-transform: translate3d(565px,0px,0px);
	}
	100%{
		-webkit-transform: translate3d(0px,0px,0px);
	}
}

@-moz-keyframes reset{
	0%{
		-moz-transform: translate3d(565px,0px,0px);
	}
	100%{
		-moz-transform: translate3d(0px,0px,0px);
	}
}

.box-label{
  color: red;
  border: 2px solid #b50b0b;
  text-align: center;
  font-family: Arial,sans-serif;
  width: 126px;
  font-size: 33px;
  color: #c00;
  text-shadow: 0 0 2px #c00;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
